*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    }
    h1,h2,h3,h4,h5,h5,h6{
        margin: 0;
    }
 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
.home a :hover {
    background-color: #FFFFFF;
    color: #ee734e;
    text-decoration: none;
}
    a.register-button:hover{
        background-color: #FFFFFF;
        color: #ee734e;
        text-decoration: none;
     }
     .register-button:hover{
        background-color: #FFFFFF;
        color: #ee734e;
        text-decoration: none;
     }
    .test{
        color: aliceblue;
        margin-top: 200px;
    }
    .page{
        height: 300px;
    }
    .pdd{
        font-family: 'Readex Pro';
    color: white;
    font-size: 23px;
    }
    .pd{
        height: 38px;
    }
    .pdd1{
        font-family: 'Readex Pro';
    color: white;
    font-size: 16px;
    }
    
    nav{
        z-index: 5;
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        min-height: 10vh;
        width:100vw;
        background: #004d73;
        height: 100px;
font-weight: 400;
font-size: 20px;
line-height: 35px;
font-family: 'Inter';
    }
    .logo{
        flex:2;
        display: grid;
        place-items: center;
        height: 100%;
    }
    .logo2{
        height: 260px;
    }
    
    .navbar-logo {
        object-fit: cover;
        width: 7vw;
        height:100px;
        width: 100%;
    }
    .logo-picture{
        height: 100%;
    }
body{
    background: #004d73;
}


    .tabs, .tabs-container{
        flex:8;
        display: flex;
        align-content: center;
        justify-content: space-around;
     
    }
    ul{
        margin: 0;
    }
    .ul-items{
        align-content: center;
        justify-content: space-around; 
    }
    
    .tabs a{
        color: white;
        text-decoration: none;
        
    }
    .tabs a:hover{
        color: #ee734e;
    }
    .tabs a:active {
        color: #ee734e;
    }
    .tabs li{
        display: grid;
        place-items: center;
        list-style: none;
    }
    .menu{
        display: none;
    
    }
    .menu div{ 
        width: 30px;
        height: 5px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
        border-radius: 2px;
    }


    .register{  
        flex: 2;
        margin-right: 4vh;
        display: flex;
       justify-content: flex-start;
       align-items: center;
        font-size: 20px;
        font-family: 'Inter';
    }
    .register-button{
        display: grid;
        cursor: pointer;
        place-items: center;
        height: 9vh;
        width:24vh;
        color: white;
        background:  #ee734e;
        font-size: 20px;
    font-family: 'Inter';
        border-radius: 31px;

    }
    .register-button :hover{
        background-color: #FFFFFF;
    }
    @media screen and (max-width:1024px) {
        .tabs{
           flex: 100
        }
        .register{
            flex:2
        }
        .logo{
            flex:10
        }
       
        
    }
   
    .logo{
        flex:2;
        display: grid;
        place-items: center;
        height: 100%;
    }
    
    .navbar-logo {
        object-fit: cover;
        width: 7vw;
        height:100px;
        width: 100%;
    }
    .logo-picture{
        height: 100%;
    }
    
    @media screen and (max-width:768px) {
             html, body{
        background-color:   #004d73;;
            width: 100%;
            position: relative;
         
           overflow-x: hidden;
        }


        #contact{
            color: white;
            width: 759px;
            height: 145px;
            margin-left: 17% !important;
            font-family: 'Readex pro';
            font-size: 50px !important;
            font-style: normal;
            font-weight: 500;
            margin-top: 30px;
            line-height: 100px;
            text-shadow: 3px 3px 2px black;
        }
        .check {
            background-color: #ee734e;
            font-family: 'readex pro';
            font-style: normal;
            font-size: 18px;
            margin-left: 9% !important;
            margin-right: 18%;
            color: white;
            padding-left: 14px;
            border-radius: 7px;
            height: 25px;
            margin-bottom: 10px;
            width: 400px;
        }
        .start{
            margin-left: 28% !important;
        }

        #p-idea{
            color: white;
    width: 85% !important;
    margin-left: 5% ;
    margin-top: 15% !important;
    font-size: 15px !important;
    font-family: 'Readex pro';
        }


        #schedule-image{
            width: 30% ;
    margin-bottom: -33% !important;
    margin-left: -37% !important;
         }
.schedule{
    width: 100%;
    display: flex;
    height: 100px;
    margin-left: 5% !important;
    margin-top: -78%;
}

       
        #ideathon{
            color: white;
    width: 85% !important;
    margin-left: 5% ;
    margin-top: 5% !important;
    font-size: 15px !important;
    font-family: 'Readex pro';


    
        }
        #btn{
          
        }
        #eduhack{
            color: white;
            width: 85% !important;
            margin-left: 5% ;
            margin-top: 5% !important;
            font-size: 15px !important;
            font-family: 'Readex pro';
        }
        #image1{
    margin-top: 45% !important;
            margin-left: 20%;
            width: 60%;
        }
        #image2{
            margin-top: 50% !important;
  
        }
        .home{
            min-height: 130vh!important;
            grid-template-columns: 1fr!important;
            grid-gap: 1rem !important;
            text-align: center;
         }
         .home-img{
            text-align: center;
         }
    
        .hiden{
            display: none;
         }

        
        
        .nav-active-color {
            background-color: var(--black);
        }
        .navbar-logo{
            object-fit: cover;
            width: 22vw;
            height: 80px;

        }
        nav{
            height: 80px;
            
        }
        
        
        .register{
            display: none;
        }
        .tabs-container{
            display: flex;
            flex-direction: column;
            margin-bottom: 20vh;     
        }
     .register-button{
        margin-left: 140px;
     }
    
        .tabs{
            position: absolute;
            background-color: var(--black);
            right: 0px;
            height: 91vh;
            top :9vh;
            width: 100vw;
            font-size: larger;
            display: grid;
            place-items: center;
            transform: translateX(100%);
            transition: transform 0.3s ease-in;
            overflow-x: hidden;
        }

      .logo-nav-bar{
          display: none;
        
      }
        li{
            margin:1.5vh;
           
        }
        .tabs li {
            opacity: 0;
        }
        .menu{
            margin-right: 7vw; 
            display: block;
            cursor: pointer;

        }
        .logo{   
            margin-left: 4vw; 
            display: flex;
            align-items: center;
            height: 100%;
        }
        

.logo {}



    }


    .nav-active{
            transform: translateX(0%);
    }
    li.active a {
    color: #ee734e; 
    }



    @keyframes tabsFade {
        from {
            opacity:0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,9px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-9px); 
    }
    .try{
        height: 50vh;
        width: 100vw;
    }
    
    .bgcolor.scrolled{
        backdrop-filter: blur(25px);    }
    nav ul li.active a {
        color:  #ee734e;
     }


    

     .page{
        
     }
     .hiden{
        display: none;
     }
     
     .imgi{
        display: flex;
        justify-content: center;
     }
     .info{
        margin-left: 0px;
 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-style: normal;
font-size: 1rem;
    font-weight: 400;
line-height: 49px;
color: #FFFFFF;
   }

    
    .home{
    padding: 170px 10%;
   }
   .home{
    min-height: 100vh;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4rem;
   }
.home-img{
    text-align: center;
}







     /*////////////////////////////////////////////////////////////////////////////////////////////////*/

     





     @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap');

     body {
         background-color: #004d70;
     }
      
     #title-container{
         position: relative;
         height: 250px;
     }
     
     #image1{
    
         margin-left: 20%;
         width: 60%;
     }
     
     #image2{
         position: absolute;
         width: 11%;
         left: 26%;
         margin-top: 5%;
     }
     
     
     #what{
         display: flex;
     }
     
     #p-idea{
         color: white;
         width: 40%;
         margin-left: 10%;
         margin-top: 5%;
         font-size: 23px;
         font-family: 'Readex pro';
     }
     
     #image3 {
         width: 65%;
         margin-top: 5%;
         margin-left: 40%;
     }
     
     #image4 {
         width: 70%;
         margin-left: 14%;
         position: absolute;
     } 
     
     #parent4 {
         position: relative;
         display: flex;
     }
     
     #ideathon{
         font-size: 23px;
         font-family: 'Readex pro';
         color: white;
         padding-top: 20%;
         width: 35%;
         margin-left: 9%;
     }
     
     #eduhack{
         font-size: 23px;
         font-family: 'Readex pro';
         color: white;
         padding-top: 20%;
         width: 30%;
         margin-left: 11%;
         margin-right: 7%;
     }

    
     /*////////////////////////////////////////////////////////////////////////////////////////////:::*/@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap');
     .background
     {
     background-color: #004d70;
     }
     #button-1
     {
         background-color: #ee734e;
         width: 10%;
         margin-left: 10%;
         margin-top: 1%;
         margin-bottom: 2%;
         border-radius: 15px;
         text-align: center;
         padding-top: 15px;
         color: white;
         font-family: 'Readex Pro';
         font-style: normal;
         font-size: 20px;
     }
     .schedule
     {
         width: 100%;
         display: flex;
         height: 100px;
         margin-left: 3.2%;
     
     }
     #button-2
     {
         background-color: white ;
         width: 10%;
         margin-left: 20%;
         margin-top: 1%;
         margin-bottom: 2%;
         border-radius: 15px;
         text-align: center;
         padding-top: 15px;
         color: #ee734e;
         font-family: 'Readex Pro';
         font-style: normal;
         font-size: 20px;
     }
     #button-3
     {
         background-color: white;
         width: 10%;
         margin-left: 20%;
         margin-top: 1%;
         margin-bottom: 2%;
         border-radius: 15px;
         text-align: center;
         padding-top: 15px;
         color: #ee734e;
         font-family: 'Readex Pro';
         font-style: normal;
         font-size: 20px;
     }
     .check
     {
         background-color: #ee734e;
         font-family: 'readex pro';
         font-style: normal;
         font-size: 18px;
         margin-left: 15%;
         margin-right: 18%;
         margin-bottom: 10px;
         color: white;
         padding-left: 10px;
         border-radius: 7px;
         height: 25px;
     }
     .start
     {
         color: white;
         margin-left: 38%;
         font-family: 'readex pro';
         font-size: 30px;
     }
     
     #schedule-image{
        width: 30%;
    margin-bottom: -33%;
    margin-left: 12%;
     }
     /*//////////////////////////////////////////////////////////////////////////////////////////////////////::*/
     @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap');

body{
    background-color: #004d70;
}
 
#logo{
    display: flex;
}

#logo-esms{
    width: 18%;
    margin-left: 35%;
}

#logo-cse{
    width: 6%;
    height: 7%;
    margin-top: 2%;
    margin-left: 5%;
}

#presentation{
    width: 60%;
    position: absolute;
    left: 18%;
    top: 10%;
}

#rectangle{
    background-color: #ee734e ;
    margin-top: 5%;
    margin-left: 20%;
    display: flex;
    margin-right: 20%;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 8px #ee734e  ;
}

#cse-logo1{
    width: 10%;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    
}

#text{
    margin-top: 3%;
    margin-left: 5%;
    color: white;
    font-size: 18px;
    font-family: 'Readex pro';
}

#contact{
    color: white;
    width: 759px;
    height: 145px;
    margin-left: 20%;
    font-family: 'Readex pro';
    font-size: 112px;
    font-style: normal;
    font-weight: 500;
    margin-top: 30px;
    line-height: 100px;
    text-shadow: 3px 3px 2px black;
}

#icons{
    display: flex;
    margin-left: 30%;
    margin-top: 0%;
}

#instgram{
    width: 7%;
    margin-left: 13%;
}

#facebook{
    width: 7%;
    margin-left: 5%;
}

#linkedin{
    width: 7%;
    margin-left: 5%;
}

